.hero {
    height: 100vh;
    background: url('../../../public/hero-pic.avif') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.hero h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}