.hero {
    height: 100vh;
    background: url('../../../public/hero-pic.avif') center center/cover no-repeat;
}

.hero h1 {
    color: rgb(119, 143, 196);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}

.hero h2 {
    color: #274a8b;
    letter-spacing: 1.5px;
}